h1{
    color: #ffffff;
}
body{
    color: #fff;
}
.profil {
    height: 25%;
    width: 25%;
}
#avatar{
    height: 25%;
    width: 25%;

}
#txt{
    font-size: 3rem;
    
}
body{
    background-image: url('../img/Large-Triangles.svg')
}
p{
  font-size: 5vh;
}
